/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.fondo{
	-fx-background-image: url(img/fondo.jpg);
	-fx-background-size:100%;
}
.textoblanco{
	-fx-text-fill: #188916;
	-fx-font-size: 15px;
}
.botonesblanco{
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-background-image: url(img/gal.jpg);
	-fx-background-size: 100%;
	-fx-background-radius: 20px;
	-fx-border-radius:81px 81px 81px 81px;
}
.botonnegro{
	-fx-text-fill: black;
	-fx-font-size: 20px;
}
.fondoblur{
	-fx-background-image: url(img/blur.jpg);
	-fx-background-size: 120%;
	-fx-background-radius: 20px;
	-fx-border-radius:20px;
}
.titulo{
    -fx-text-fill: white;
	-fx-font-size: 25px;
}
.texto{
    -fx-text-fill: white;
	-fx-font-size: 15px;
}
